/* ***********
Fonts
************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* *********************
Extra For page Default
************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/****************
 Header
****************/

.menu {
    width: 100%;
    display: flex;
    background-color: #2D25A0;
}

.menu a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 35px;
    position: relative;
    left: 166px;
    right: 150px;

    text-shadow: 1px 1px 2px black;
}

.menu a:hover {
    box-shadow: 0 1px 50px black;
    color: hotpink;
    transform: scale(1.3) translate(10px, 10px);
    transition: transform 1s ease-out;
}

.menu p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #E02C6D;
    padding: 10px 10px 10px 10px;
    position: relative;
    top: 30px;
    right: -380px;
    border-radius: 30%;
}

/*************
 Banner 
**************/

.first-banner {
    width: 100%;
    background-color: #2D25A0;
    display: flex;
}

/************************
 Transform and Transition 
 *************************/

.first-banner:hover .banner img {
    transform: scale(1.2) translate(-40px, -40px);
    transition: transform 0.5s ease-out;
}

.banner {
    position: relative;
    left: 166px;
    margin-bottom: 250px;
}


.banner h2 {
    width: 100%;
    padding-right: 102px;
    color: white;
    font-size: 64px;
    margin-top: 121px;

}

.banner img {
    width: 556px;
    height: 438px;
    margin-top: 67px;
}

.banner a {
    text-decoration: none;
    position: relative;
}

.banner a p {
    display: inline;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #E02C6D;
    padding: 10px 35px 10px 25px;
}

.banner a i {
    position: absolute;
    top: 4px;
    left: 120px;
    color: white;
}


/*****************************
 Football players section 
 ****************************/
.field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 60px 180px;
}

.players {
    Width: 330px;
    Height: 474px;
    margin-left: 30px;
    box-shadow: 0.2px 0.2px 10px rgba(184, 184, 184, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

/************************
 Transform and Transition 
 *************************/

.players .player:hover img {
    transform: scale(1.3) skew(5deg);
    transition: transform 1s ease-out;
}


.player,
.player-name {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.player-name {
    border-left: 2px solid black;

}

.player img {
    width: 300px;
    height: 256px;
    border-radius: 10px;
}

.player-name h3 {
    font-size: 28px;
    text-shadow: 1px 1px 2px black;
}

/***********************
 Final Match section 
 ***********************/

.final-match {
    background: url("../images/bg-1.png") no-repeat right, url("../images/bg-2.png") no-repeat left, linear-gradient(#360033, #0b8793);
    margin-bottom: 20px;
    box-shadow: 3px 3px 2px rgb(80, 42, 42);
    padding-bottom: 30px;
    overflow: hidden;
}

.final-match h2 {
    font-size: 30px;
    color: crimson;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px black;
}

.final-match hr {
    margin: 0 300px 40px;
}

.final-match img {
    display: flex;
    margin: auto;
    box-shadow: 4px 4px 10px black;
}

/************************
 Transform and Transition 
 *************************/

.final-match img:hover {
    transform: scale(1.2);
    transition: transform 1.5s ease-out;
}

/*******************
 Sponsers section 
 *******************/

.sponsers {
    background: url("../images/bg-3.png") no-repeat, linear-gradient(#0f0c29, #302b63, #24243e);
    margin-bottom: 40px;
    box-shadow: 3px 3px 2px rgb(80, 42, 42);
    padding-bottom: 30px;
}

.sponsers h2 {
    font-size: 30px;
    color: crimson;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px black;
}

.sponsers hr {
    margin: 0 300px 40px;
}

.sponsers img {
    display: flex;
    margin-left: 700px;
    box-shadow: 4px 4px 20px black;
}

/*****************
 Footer 
 ****************/

.football-img {
    display: flex;
    justify-content: center;
}

.football-img img {
    width: 483px;
    height: 110px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons i {
    width: 32px;
    height: 32px;
    color: #969BAB;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 63px;
}

/****************
 Media Queries 
 ****************/

/******************
  Mobile devices 
*******************/

@media only screen and (max-width:688px) {

    .menu {
        display: none;
    }

    .first-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .banner h2 {
        position: relative;
        left: -160px;
    }

    .banner img {
        position: relative;
        left: -166px;
        width: 98%;
    }

    .field {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .final-match img {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sponsers img {
        display: flex;
        margin-left: 25px;
    }

    .football-img img {
        display: flex;
        align-items: center;
        width: 90%;
    }
}


/******************
 Tablet Devices 
 ********************/

@media only screen and (max-width:1080px) {
    .menu {
        display: none;
    }

    .first-banner {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .field{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsers img{
        display: flex;
        margin-left: 430px;
    }
}